#about .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
    height: 45vh;
    width: 50%;
    gap: 30px;
}

#about .content .text{
    font-size: 1.5em;
    height: max-content;
    max-height: 90%;
    width: 60%;
}

#about .content .text p{
    padding-bottom: 15px;
    text-align: justify;
}

#about .content .imgBx{
    padding-bottom: 15px;
    height: 100%;
}


#about .content .imgBx img{
    height: 100%;
}

@media (max-width: 1600px) {

    
    #about .content .text{
        font-size: 1.5em;
        width: 70%;
    }

    #about .content .imgBx{
        width: 50%;   
    }
}

@media (max-width: 1000px) {

    #about .content {
        flex-direction: row;
        height: 100vh;
    }
    #about .content .text{
        font-size: 1.5em;
        width: 70%;
    }

    #about .content .imgBx{
        height: 40vh;
        width: 60%;
        margin: auto;   
    }
}

@media (max-width: 600px) {

    #about .content {
        height: 130vh;
    }
   
    #about .content .text{
        font-size: 1.5em;
        width: 90%;
    }

    #about .content .imgBx{
        width: 100%;   
    }
}
