#constituion
{
    position: relative;
    background: var(--background-color);
    
    padding-bottom: 80px;
    min-height: var(--min-height);
}

#constituion .headline {
    padding-top: var(--nav-padding-top);
}

#constituion .links {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 80px;
}

#constituion .links .headerBx {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
    width: max-content;
    height: max-content;
}

#constituion .links a .headerBx .img {
    width: 70px;
    height: 70px;
    filter:hue-rotate(147deg) contrast(1.8);
    transition: 0.4s;
}


#constituion .links a .headerBx:hover .img {
    filter:hue-rotate(0deg) contrast(1.8);
    
}

#constituion .links a .headerBx .title {
    font-size: 1.3em;
    transition: 0.4s;
}

#constituion .links a {
    text-decoration: none;
    color: black;
}

#constituion .links a .headerBx:hover .title {
    color: var(--main-color);
    
}

#constituion .content
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 80px;
    padding-top: 80px;
    padding-left: 350px;
}

#constituion .content .constituionBx h2 {
    font-size: 4em;
    text-align: left;
}

#constituion .content .constituionBx ul li {
    list-style: none;
    text-align: left;
    padding-left: 20px;
}

#constituion .content .constituionBx ul li a{
    text-decoration: none;
    font-size: 2em;
    color: var(--main-color);
}

#constituion .content .constituionBx ul li a:hover{
    color: var(--sec-color);
}