#constituion
{
    position: relative;
    background: var(--background-color);
    padding-bottom: 80px;
    min-height: var(--min-height);
    padding-top: 80px;
}

#linkContainer {
    position: relative;
}
/* #constituion .links .bund,
#constituion .links .bezirk {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
} */

#constituion .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 100px; /* Abstand zwischen den Elementen */
    width: 60%;
    left: 5%;
    position: relative;
    margin: auto;
}

#constituion .links .linkmid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
}


#constituion .links .linkmid a {
    height: 70px;
}

#constituion .links .linkItem .linkmid h2 {
    font-size: 2.5em;
    color: var(--sec-color);
    padding-bottom: 10px;
    text-align: center;
}

#constituion .links div .headerBx {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
    width: max-content;
    height: max-content;
}

#constituion .links div a .headerBx .img {
    width: 70px;
    height: 70px;
    filter:hue-rotate(147deg) contrast(1.8);
    transition: 0.4s;
}


#constituion .links div a .headerBx:hover .img {
    filter:hue-rotate(0deg) contrast(1.8);
    
}

#constituion .links div a .headerBx .title {
    font-size: 1.3em;
    transition: 0.4s;
}

#constituion .links div a {
    text-decoration: none;
    color: black;
}

#constituion .links div a .headerBx:hover .title {
    color: var(--main-color);
    
}

#constituion .content
{
    padding-top: 80px;
}

#constituion .content .constituionBx h2 {
    font-size: 4em;
    text-align: left;
}

#constituion .content .constituionBx ul li {
    list-style: none;
    text-align: left;
}

#constituion .content .constituionBx ul li a{
    text-decoration: none;
    font-size: 2em;
    color: var(--main-color);
}

#constituion .content .constituionBx ul li a:hover{
    color: var(--sec-color);
}

@media(max-width: 1400px) {
    #constituion .links div a .headerBx .img {
        width: 50px;
        height: 50px;
    }
} 

@media(max-width: 1000px) {
    #constituion .links div a .headerBx .img {
        width: 45px;
        height: 45px;
    }

    #constituion .links div a .headerBx .title{
        font-size: 1.1em;
    }
    #constituion .links {
        width: 30%;
        margin: 0;
    }

    #constituion .links .linkItem .linkmid h2 {
        font-size: 1.5em;
    }

    #constituion .links {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    
} 