#contact {
    position: relative;
    width: 100%;
    background: #fff;
    min-height: var(--min-height);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#contact .media h2 {
    font-size: 2.5em;
}

#contact .media {
    padding-top: 40px;
}

#contact .media ul {
    padding-left: 25px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact .media ul li {
    font-size: 1.3em;
    padding-bottom: 0px;
    list-style: none;
    display: flex;
    justify-content: row;
    align-items: center;
}
#contact .media ul li img{
    padding: 0px 0px 0px 0px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

#contact .media ul li a{
    text-decoration: none;
    color: var(--main-color);
    padding-left: 5px;
}

#contact .media ul li a:hover{
    color: var(--sec-color);
}

#contact .email {
    padding-top: 40px;
}

#contact .email h2{
    font-size: 1.7em;
    padding-bottom: 30px;
}
#contact .email .text{
    font-size: 1.3em;
    padding-bottom: 10px;
    padding-top: 10px;
}

#contact .email input,
#contact .email textarea{
    width: 400px;
    font-size: 1.3em;
    padding: 12px 15px;
    margin-bottom: 15px;
}

#contact .email input {
    height: 40px;
}

#contact .email input:hover,
#contact .email input:focus,
#contact .email textarea:hover,
#contact .email textarea:focus{
    background: #8fe2fc;
    border: 3px solid #000000;
}

#contact .email textarea{
    height: 200px;
}