:root {
    --main-color: #0099ff;
    --sec-color: #0033cc;
    --third-color: #cc0000;
    --default-font-color: #fff;
    --menuToggle-color: #fff;
    --background-color: #fff;
    --background-sec-color: #cfc9c9;
    --color-gradient: -webkit-linear-gradient(var(--sec-color), var(--main-color));
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Barlow Condensed', serif;
}

.btn {
    font-family: 'Bitter', serif;
    /* font-family: 'Barlow Condensed', serif; */
    position: relative;
    display: inline-block;
    font-size: 1.4em;
    max-width: max-content;
    max-height: max-content;
    background: var(--third-color);
    color: var(--default-font-color);
    text-align: center;
    padding: 15px 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 20px;
}
.btn:hover {
    cursor: pointer;
}
.firstSector {
    margin-top: 75px;
}
.gradient-color {
    background: var(--color-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headline {
    background: var(--color-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5em;
    font-weight: 800;
    padding: 60px 0px;
    text-align: center;
}

@media (max-width: 1000px)
{
    .headline {
        font-size: 2em;
    }
}
