#data {
    position: relative;
    width: 40%;
    background: #fff;
    padding: 0;
    padding-bottom: 60px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;   
    min-height: var(--min-height);
}
#data div {
    padding-top: var(--nav-padding-top);
}

p, h2, a, li {
    font-family: 'Bitter', serif;
}

#data h2{
    font-size: 2.2em;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 3px;
}
#data li {
    font-size: 1.3em;
    list-style: none;
    padding-top: 10px;
}

#data p{
    padding-top: 15px;
    font-size: 1.3em;
}

#data a{
    text-decoration: none;
    color: var(--main-color);
}

#data a:hover{
    color: var(--sec-color);
}